body{
  background-color: lightslategray;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 50px;
}

Header{
  margin: 10px;
}

p{
  font-size: 20px;
  text-wrap: normal;
  max-width: 500px;
}

img{
  margin-top: 10px;
}


.f {
  background-color: #333;
  height: 100px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="search"] {
  width: 600px;
  height: 50px;
}


h3{
  font-weight: bold;
}


.topfilmsbtn{
  display: flex;
  justify-content: center;
}
.films-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  margin: 25px;
}

.button{
  width: 70px;
  height: 50px;
}